Source: subutai-ovs
Section: utils
Priority: optional
Maintainer: Lars Boegild Thomsen <lbthomsen@optimal-dynamics.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://subutai.io
#Vcs-Git: https://anonscm.debian.org/collab-maint/subutai-ovs.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/subutai-ovs.git

Package: subutai-ovs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openvswitch-switch, dnsmasq, lsof
Description: Initialize and run openvswitch for Subutai
 This package will configure and run openvswitch for Subutai
