[Unit]
Description=Subutai OVS Startup
After=openvswitch-switch.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/subutai-ovs
ExecStart=/usr/sbin/subutai-ovs
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=subutai-ovs.service
