[Unit]
Description=Subutai Dnsmasq Startup
After=subutai-ovs.service

[Service]
EnvironmentFile=-/etc/default/subutai-ovs
ExecStart=/usr/sbin/subutai-dnsmasq ${SUBUTAI_DHCP_RANGE} ${SUBUTAI_IP}

[Install]
WantedBy=multi-user.target
Alias=subutai-dnsmasq.service
